*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    background-color: #3868d6;
    color: #f9fcff;
    justify-content: space-between;
}

header ul{
    display: flex;
    padding: 16px;
    list-style: none;
}

#sobre-a-loja img{
    max-width: 640px;
}

header ul li{
    margin-left: 15px;
}

header ul li a{
    text-decoration: none;
    color: #f9fcff;
    font-size: 18px;
}