* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px; /* Largura máxima */
    width: 100%; /* Largura total */
    margin: 0 auto; /* Centraliza horizontalmente */
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3868d6;
    color: #f9fcff;
    margin-bottom: 25px;
}

header ul{
    display: flex;
    padding: 0;

}
header li {
    list-style: none;
}

header li a {
    text-decoration: none;
    margin-right: 15px;
    color: #f9fcff;
    font-size: 20px;
}

header li a:hover {
    text-decoration: underline;
}

#sobre-a-loja {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#sobre-a-loja img {
    max-width: 400px;
    width: 100%;
}

#sobre-a-loja h2 {
    margin-left: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid blue;
    color: #3868d6;
    font-style: italic;
}

#sobre-a-loja p {
    text-align: justify;
    margin-left: 15px;
}

#produtos h2{
    margin-bottom: 12px;
    border: none;
    border-bottom: 3px solid blue;
    color: #3868d6;
    font-style: italic;
}
.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1px;
}

.produto p {
    margin: 16px 0;
}

.produto img {
    margin-top: 16px;
    width: 100%;
    height: 200px;
}

.produto button {
    background-color: #3868d6;
    color: #f9fcff;
    padding: 5px;
    font-weight: bold;
    width: 80%;
}

footer {
    margin-top: 56px;
    font-size: 16px;
    padding: 16px 0;    
    background-color: #3868d6;
    color: #f9fcff;
}