*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3868d6;
    color: #f9fcff;
}

header{
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

header ul{
    display: flex;
}

header li{
    list-style: none;
}

header li a{
    text-decoration: none;
    margin-right: 15px;
    color: #f9fcff;
}

#sobre-a-loja{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#sobre-a-loja img{
    max-width: 400px;
    width: 100%;
    magin
}

#sobre-a-loja h2{
    margin-left: 15px;
    margin-bottom: 15px;
}

#sobre-a-loja p{
    text-align: justify;
    margin-left: 15px;
}


.produtos-container{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 5%;
}

.produto p{
    margin: 16px 0;
}